.title_bar{
    font-size: 50px;
    font-family: 'Comic Sans MS', cursive
}

body {
    /* background-image: url("../images/dog-background.jpg"); */
    /* background-repeat: no-repeat; */
    background-color: 		#f3f6f4;
}
#dog_dance_img{
    max-width: 40px;
    max-height:40px;
    padding: 20px 20x;}
#title_div {
    display: flex;
    align-items: center;
    justify-content: center
}

#dog_fact_div{
    padding: 10px 50px;
}

#next_button {
    padding: 5px 20px;
    font-size: 20px;
}
.resizeable_image {
    max-width: 500px;
    max-height: 500px;
}
.content_div {
    text-align: center;
    padding: 10px;
    font-family: Gill Sans, sans-serif;
}

.fact_content_div{
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-family: Gill Sans, sans-serif;
    font-size: 25px;
    /* display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%; */
}

#content_main_div{
    display: inline-block;
    background-image: url(./images/dog);
    vertical-align: top;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.layout_div{
    /* display: flex;
    width: 50%; */
}

.left_side_div{
    float: left;
    margin-left: 20px;
}

.right_side_div {
    float:right;
}
.resizeable_gif {
    max-width: 200px;
    max-height: 200px;
}
.button_style{
    background-color: #9fc5e8;
    border: 0px;
}

.button_style:hover{
    background-color: aliceblue;
}